@page "/counter"

<Breadcrumb>
  <BreadcrumbItem Uri="/">Home</BreadcrumbItem>  
  <BreadcrumbItem>Counter</BreadcrumbItem> 
</Breadcrumb>

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<Chart Title="My Column Chart">
    <ChartSeries>
        <ChartSerie Color="System.Drawing.Color.Red" />
        <ChartSerie />
    </ChartSeries>
</Chart>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}
