@page "/"

<Breadcrumb>
  <BreadcrumbItem>Home</BreadcrumbItem>  
</Breadcrumb>

<h1>Hello, world!</h1>

<Card>
    <CardHeader>Card Title</CardHeader>
    <CardBody>Text</CardBody>
    <CardFooter>Footer Text</CardFooter>
</Card>