@inherits Component
@{
    var cssClass = "";

    switch (Style)
    {
        case Enums.TabSetStyle.Pills:
            cssClass = "nav nav-pills card-header-pills";
            break;
        case Enums.TabSetStyle.Tabs:
            cssClass = "nav nav-tabs card-header-tabs";
            break;
        default:
            break;
    }
}
<div class="card">
    <div class="card-header">
        <ul class="nav @cssClass" role="tablist">
            <CascadingValue IsFixed="true" TValue="ITabSet" Value="this">
                @ChildContent
            </CascadingValue>
        </ul>
    </div>
    <div class="card-body" role="tabpanel">@ActivePage?.ChildContent</div>
</div>
