@inherits Component
<div class="container-fluid">
    <div class="row">
        <div class="col bg-light">1</div>
        <div class="col bg-primary">1</div>
    </div>
    <div class="row">
        <div class="col bg-primary">2</div>
        <div class="col bg-light">2</div>
    </div>
</div>
@code {

}
