@media only screen and (min-width: 735px) {
    .mq-nav {
        position: relative;
        display: flex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        height: 100vh;
        overflow: hidden;
    }

    .mq-menu-header {
    }

    .mq-menu {
        --mq-menu-width: 48px;
        background-color: #333;
        color: whitesmoke;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: var(--mq-menu-width);
        overflow: hidden;
    }
        .mq-menu.open {
            --mq-menu-width: 240px;
        }

    .mq-menu-back {
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .mq-menu-items {
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
    }

    .mq-menu-footer {
        margin: 8px 0px;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .mq-main {
        display: flex;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
    }

    .mq-main-header {
        background-color: #f8f9fa;
        border-bottom: 1px solid #e9ecef;
        height: 48px;
        overflow: hidden;
        display: flex;
    }

    .mq-main-body {
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        overflow: auto;
    }
}


@media only screen and (max-width: 734px) {
    .mq-nav {
        position: relative;
        display: flex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        height: 100vh;
        overflow: hidden;
    }

    .mq-menu-header {
        background-color: #f8f9fa;
        border-bottom: 1px solid #e9ecef;
        position: fixed;
        outline-color: #1e88e5;
    }

    .mq-menu {
        --mq-menu-width: 0px;
        background-color: #333;
        color: whitesmoke;
        display: none;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: var(--mq-menu-width);
        height: calc(100vh - 48px);
        overflow: hidden;
        z-index: 1001;
        position: fixed;
        margin-top: 48px;
    }

        .mq-menu.open {
            display: flex;
            --mq-menu-width: 240px;
        }

    @media only screen and (max-width: 480px)
    {
        .mq-menu.open {
            display: flex;
            --mq-menu-width: 100%;
        }
    }

    .mq-menu-back {
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .mq-menu-items {
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
    }

    .mq-menu-footer {
        margin: 8px 0px;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .mq-main {
        display: flex;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
    }

    .mq-main-header {
        background-color: #f8f9fa;
        border-bottom: 1px solid #e9ecef;
        height: 49px;
        overflow: hidden;
        display: flex;
        margin-left: 48px;
    }

    .mq-main-body {
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        overflow: auto;
    }

    .mq-main-body.no-header {
        margin-top: 48px;
    }
}
