@media only screen and (min-width: 735px) {
    .mq-nav {
        position: relative;
        display: flex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .mq-menu-header {
    }

    .mq-menu {
        background-color: #333;
        color: whitesmoke;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 48px;
        overflow: hidden;
    }
        .mq-menu.open {
            width: 240px;
        }

    .mq-menu-back {
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .mq-menu-items {
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
    }

    .mq-menu-footer {
        margin: 8px 0px;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .mq-main {
        display: flex;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        max-height: 100%;
        overflow: hidden;
    }

    .mq-main-header {
        background-color: #f8f9fa;
        border-bottom: 1px solid #e9ecef;
        height: 49px;
        overflow: hidden;
        display: flex;
    }

    .mq-main-body {
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        overflow: auto;
    }
}

@media only screen and (max-width: 734px) {
    .mq-nav {
        position: relative;
        display: flex;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .mq-menu-header {
        background-color: #f8f9fa;
        border-bottom: 1px solid #e9ecef;
        outline-color: #1e88e5;
        height: 49px;
        overflow: hidden;
        display: flex;
    }

    .mq-menu {
        background-color: #333;
        color: whitesmoke;
        display: none;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 0;
        height: calc(100% - 48px);
        overflow: auto;
        z-index: 1001;
        position: fixed;
        margin-top: 48px;
    }

        .mq-menu.open {
            display: flex;
            width: 240px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

    @media only screen and (max-width: 480px)
    {
        .mq-menu.open {
            display: flex;
            width: 100%;
        }
    }

    .mq-menu-back {
        border-top: 1px solid #404040;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .mq-menu-items {
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        overflow: auto;
    }

    .mq-menu-footer {
        margin: 8px 0px;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .mq-main {
        display: flex;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
    }

    .mq-main-header {
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        overflow: hidden;
    }

    .mq-main-body {
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        overflow: auto;
    }
}
