.mq-btn {
    background: none;
    cursor: pointer;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 4px;
    outline: none;
    color: inherit;
    display: flex;
    flex-shrink: 0;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    text-transform: none;
}

    .mq-btn:not(:enabled) {
        color: #404040;
        cursor: default;
    }

    .mq-btn:hover:enabled {
        background-color: #1e88e5;
    }

    .mq-btn:active:enabled, .mq-btn.selected:enabled {
        background-color: #1976d2;
    }

    .mq-btn:focus {
        outline-color: inherit;
        outline-style: dashed;
        outline-width: 1px;
        outline-offset: -1px;
    }

    .mq-btn > .mq-btn-icon {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        margin: 8px;
        display: flex;
        -ms-align-content: center;
        -webkit-align-content: center;
        align-content: center;
        -webkit-align-items: center;
        align-items: center;
    }

        .mq-btn > .mq-btn-icon ::deep svg {
            -ms-flex: 1;
            -webkit-flex: 1;
            flex: 1;
        }

    .mq-btn > .mq-btn-content {
        white-space: nowrap;
        overflow: hidden;
        margin: 4px;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-align: left;
    }

.mq-menu.open .mq-btn.menu:not(.collapsed)::after {
    transform: rotate(-180deg);
}

.mq-menu.open .mq-btn.menu::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin: 4px;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='whitesmoke'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
}

.mq-menu:not(.open) .mq-btn-content {
    display: none;
}

.mq-menu-header .mq-btn {
    width: 48px;
}

.mq-menu .mq-btn-group {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #222;
    overflow: hidden;
}
