@inherits Component
@{
    var cssClass = "nav-pills";
    var cssContentClass = "tab-content";
    var cssInnerContentClass = "";

    switch (Style)
    {
        case Enums.TabSetStyle.Pills:
            cssClass = "nav-pills mb-3";
            break;
        case Enums.TabSetStyle.Tabs:
            cssClass = "nav-tabs";
            cssContentClass += " border-start border-end border-bottom";
            cssInnerContentClass = "p-3";
            break;
        default:
            break;
    }
}
<ul class="nav @cssClass" role="tablist" @oncontextmenu="(e) => { }" @oncontextmenu:preventDefault="true" @oncontextmenu:stopPropagation="true">
    <CascadingValue IsFixed="true" TValue="ITabSet" Value="this">
        @ChildContent
    </CascadingValue>
</ul>
<div class="@cssContentClass" role="tabpanel">
    <div class="@cssInnerContentClass">
        @ActivePage?.ChildContent
    </div>
</div>
