@inherits Component
@{
    var content = IsOn ? OnContent : OffContent;
    var cssClass = IsOn ? "toggle on" : "toggle";
}
<div>
    <div>@Header</div>
    <div><input class="@cssClass" type="checkbox" role="switch" @onchange="(e) => { IsOn = (bool)e.Value; }"><div>@content</div></div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">@content</label>
    </div>
</div>



