<div class="btn-group" @attributes="AdditionalAttributes" role="group" @oncontextmenu="(e) => { }" @oncontextmenu:preventDefault="true" @oncontextmenu:stopPropagation="true">
    <CascadingValue TValue="IToggleButtonGroup" IsFixed="true" Value="this">
        @ChildContent
    </CascadingValue>
</div>
