@inherits Component
@{
    var content = IsOn ? OnContent : OffContent;
    var disabled = !Enabled;
}
<div class="form-check form-switch" @oncontextmenu="(e) => { }" @oncontextmenu:preventDefault="true" @oncontextmenu:stopPropagation="true">
    <input class="form-check-input" type="checkbox" role="switch" @onchange="CheckChange" checked="@IsOn" disabled="@disabled">
    <label class="form-check-label" @onclick="LabelClick" disabled="@disabled">@content</label>
</div>



