@{
    var disabled = !Enabled;
}
<button @ref="_element" type="button" class="btn btn-outline-primary" @attributes="AdditionalAttributes" @onclick="HandleClick" title="@Title" @oncontextmenu="(e) => { }" @oncontextmenu:preventDefault="true" @oncontextmenu:stopPropagation="true" aria-pressed="@_isChecked" autocomplete="off" disabled="@disabled">@ChildContent</button>
