<h3>Chart</h3>
<p>
    <div class="bd-example">
        <Chart Title="Column Chart Example" Data="data">
            <ChartSeries FieldName="Year">
                <ChartSerie Name="Sales Income" FieldName="SalesIncome"></ChartSerie>
                <ChartSerie Name="Net Income" FieldName="NetIncome"></ChartSerie>
            </ChartSeries>
        </Chart>
    </div>
        <div class="bd-code">
            <code>
                <pre>
&lt;Chart Title="Column Chart Example" Data="data"&gt;
    &lt;ChartSeries FieldName="Year"&gt;
        &lt;ChartSerie Name="Sales Income" FieldName="SalesIncome"&gt;&lt;/ChartSerie&gt;
        &lt;ChartSerie Name="Net Income" FieldName="NetIncome"&gt;&lt;/ChartSerie&gt;
    &lt;/ChartSeries&gt;
&lt;/Chart&gt;

@@code {
    private ICollection&lt;ExampleData&gt; data = new List&lt;ExampleData&gt;()
    {
        new ExampleData { Year = "2019", SalesIncome = 10, NetIncome = 50 },
        new ExampleData { Year = "2020", SalesIncome = 20, NetIncome = 30 },
        new ExampleData { Year = "2021", SalesIncome = 40, NetIncome = 60 }
    };

    public class ExampleData
    {
        public string Year { get; set; }
        public decimal SalesIncome { get; set; }
        public decimal NetIncome { get; set; }
    }
}
</pre>
            </code>
        </div>
</p>

@code {
    private ICollection<ExampleData> data = new List<ExampleData>()
    {
        new ExampleData { Year = "2019", SalesIncome = 10, NetIncome = 50 },
        new ExampleData { Year = "2020", SalesIncome = 20, NetIncome = 30 },
        new ExampleData { Year = "2021", SalesIncome = 40, NetIncome = 60 }
    };

    public class ExampleData
    {
        public string Year { get; set; }
        public decimal SalesIncome { get; set; }
        public decimal NetIncome { get; set; }
    }
}
