<h3>ToggleButton</h3>
<p>
    <div class="bd-example">
        <ToggleButtonGroup>
            <ToggleButton IsChecked="true" OnClick='() => Console.WriteLine("Button1")'>Button 1</ToggleButton>
            <ToggleButton OnClick='() => Console.WriteLine("Button2")'>Button 2</ToggleButton>
            <ToggleButton OnClick='() => Console.WriteLine("Button3")'>Button 3</ToggleButton>
        </ToggleButtonGroup>
    </div>
    <div class="bd-code">
        <code>
            <pre>
&lt;ToggleButtonGroup&gt;
    &lt;ToggleButton IsChecked="true"&gt;Button 1&lt;/ToggleButton&gt;
    &lt;ToggleButton&gt;Button 2&lt;/ToggleButton&gt;
    &lt;ToggleButton&gt;Button 3&lt;/ToggleButton&gt;
&lt;/ToggleButtonGroup&gt;
</pre>
        </code>
    </div>
</p>