<h3>ToggleSwitch</h3>
<p>
    <div class="bd-example">
        <ToggleSwitch />
        <ToggleSwitch OffContent="Stopped" OnContent="Working" IsOn="true" />
        <ToggleSwitch Enabled="false" />
        <ToggleSwitch IsOn="true" Enabled="false" />
    </div>
    <div class="bd-code">
            <code>
                <pre>
        &lt;ToggleSwitch /&gt;
        &lt;ToggleSwitch OffContent="Stopped" OnContent="Working" IsOn="true" /&gt;
        &lt;ToggleSwitch Enabled="false" /&gt;
        &lt;ToggleSwitch IsOn="true" Enabled="false" /&gt;
</pre>
            </code>
        </div>
</p>
