@inherits LayoutComponentBase

<NavigationView IsBackButtonVisible="true">
    <MenuItems>
        <NavMenu/>
    </MenuItems>

    <Header></Header>

    <Frame>
        <div class="content px-4">
            @Body
        </div>
    </Frame>
</NavigationView>
